@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Satisfy&display=swap');

$main-color: #e7868e;
$black: #171614;
$grey: #363636;

$m: 'Montserrat', sans-serif;
$s: sans-serif;
$a: 'Satisfy', cursive;

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2rem;
}

.search-input {
    background-color: #3636362b;
    border: none;
    padding: 1rem;
    border-radius: 1rem;

    width: 70vh;

    // @media screen and (min-width: 768px) {
    //     max-width: 40rem;
    // }
    
    &::placeholder {
        color: #171614;
        font-weight: 600;
    }

    &:focus {
        border: none;
        outline: none;
    }

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}