@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Satisfy&display=swap');

$main-color: #e7868e;
$black: #171614;
$grey: #363636;

$m: 'Montserrat', sans-serif;
$s: sans-serif;
$a: 'Satisfy', cursive;

.wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

    width: 70vw;
    @media screen and (max-width: 768px) {
        width: 90vw;
    }
    @media screen and (max-width: 450px) {
        width: 86vw;
    }
}

.search-input {
    background-color: #3636362b;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;

    width: 70vw;
    
    &::placeholder {
        color: var(--search-bar-placeholder-color) !important;
        font-weight: 600;
        color: #363636c2;
    }

    &:focus {
        border: none;
        outline: none;
    }

    @media screen and (max-width: 768px) {
        width: 100vw;
    }
}

.search-btn {
    background-color: #3636362b;
    padding: 1.1rem;
    border-radius: 1rem;

    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;

    color: $main-color;
}