@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-color: #e7868e;
$black: #171614;
$grey: #363636;

$m: 'Montserrat', sans-serif;
$s: 'Labrada', serif;
$a: 'Satisfy', cursive;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex ;
  justify-content: center ;
  align-items: center ;
  flex-direction: column;

  width: 100vw;
}

.mt {
  transform: translate(0, 1.4rem);
  width: 70vw !important;

  @media screen and (max-width: 768px) {
    width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
  }
} 

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-x: visible;
}